@import 'variables'

* 
    font-family: monospace

=flex($sb, $ai, $ff)
    display: flex
    justify-content: $sb
    align-items: $ai
    flex-flow: $ff



body
    background: #000
    color: $white

.container
    margin: auto
    width: 1200px
    +flex(space-between, center, column)
    margin-top: 45vh 
    

.screen
    width: 1024px
    height: 740px
    border: 2px solid $white
    margin: auto

.panel
    +flex(space-evenly, center, row)
    margin: auto
    width: 1024px
    padding: 20px 0

button
    color: $white
    cursor: pointer
    border: 2px solid $white
    background: transparent
    outline: none
    padding: 10px 20px

.snake-tail
    width: 100%
    height: 100%
    border: 3px solid $white

.apple
    width: 100%
    height: 100%
    border-radius: 50%
    margin: auto
    border: 1px solid $white
    background-color: $white

.gameover 
    +flex(center, center, center)